div(ng-include="'partials/navbar'")
.container
  .row
    .col-sm-6.col-sm-offset-3
      .page-header
        h1 Sign Up
      form#userForm
        .form-group
          label Username
          input.form-control#username(type='text' name='username')
        .form-group
          label Email
          input.form-control#email(type='email' name='email')
        .form-group
          label Email Confirmation
          input.form-control#emailConfirmation(type='email' name='emailConfirmation')
        .form-group
          label Password
          input.form-control(type='password' name='password')
        .form-group
          label Password Confirmation
          input.form-control(type='password' name='passwordConfirmation')
        .form-group
          button.btn.btn-primary(type='button') Create Account