.navbar-wrapper
  div(ng-include="'partials/navbar'")
.carousel.slide#homeCarousel(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#homeCarousel' data-slide-to='0')
    li(data-target='#homeCarousel' data-slide-to='1')
  .carousel-inner
    .item.active
      img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' alt='First slide')
      .container
        .carousel-caption
          h1 Exemple 1
          p Facilite your life please don't be stupid
          p
            a.btn.btn-lg.btn-primary(href='/user/signup' role='button') Sign Up
    .item
      img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' alt='First slide')
      .container
        .carousel-caption
          h1 Exemple 2
          p Facilite your life please don't be stupid
          p
            a.btn.btn-lg.btn-primary(href='/user/signup' role='button') Sign Up