.sidebar.nav.nav-sidebar
  ul
    li
      a(href='')
        span.glyphicon.custom-glyphicon.glyphicon-ok-circle(aria-hidden='true')
    li
      a(href='/archive')
        span.glyphicon.custom-glyphicon.glyphicon-folder-open(aria-hidden='true')
    li
      a(href='')
        span.glyphicon.custom-glyphicon.glyphicon-stats(aria-hidden='true')
    li
      a(href='')
        span.glyphicon.custom-glyphicon.glyphicon-calendar(aria-hidden='true')
    li
      a(href='')
        span.glyphicon.custom-glyphicon.glyphicon-cog(aria-hidden='true')