.row
  .col-md-12
    ul.list-group(ng-model='items' as-sortable='sortableOptions')
      li.list-group-item(ng-repeat='item in items' as-sortable-item)
        .as-sortable-item-handle(as-sortable-item-handle)
          .row
            .col-md-12
              span {{ item }}
