.row
  .col-md-2
    ul.list-group(ng-if="statusData" data-ng-model='statusData' data-as-sortable='sortableOptions')
      li.list-group-item(ng-repeat='item in statusData' data-as-sortable-item)
        span.as-sortable-item-handle(data-as-sortable-item-handle) {{ item }}
