div(ng-include="'partials/navbar'")
.container
  .row
    .col-sm-2(ng-repeat='task in tasks')
      .list-group
        a.list-group-item(href='/task/show/{{ task._id }}')
          h4.list-group-heading {{ task.title }}
          p.list-group-item-text {{ task.description }}