.navbar.navbar-inverse
  .container
    .navbar-header
      a.navbar-brand(href="/") Kuro
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='/board') Projets
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='/user/signin') Login
        li
          a(href='/user/signout') Logout
