/*
 * Personal
 */
.personal button.btn-new-project{
  position: absolute;
  right: 0px;
}


/*
 * Project
 */

.project .main {
  padding-left: 35px;
}

.project .main .page-header {
  padding-bottom: 9px;
  margin: 20px 0 0 0;
  border-bottom: 0;
}

.project .project-description {
  font-size: 20px;
  color: #999;
}

.project .content-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

/* Hide for mobile, show later */
.project .sidebar {
  display: none;
}
@media (min-width: 768px) {
  .project .sidebar {
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    margin-right: 
  }
}

/* Sidebar navigation */
.project .nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.project .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.project .nav-sidebar > .active > a,
.project .nav-sidebar > .active > a:hover,
.project .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.taskboard .page-header {
  margin: 10px 0 0 20px;
  border-bottom: 0;
}

/*
 * Taskboard
 */
.taskboard .seperator {
    border-bottom: 1px solid #eee;
}

.taskboard .board-col {
   border-right: 1px dashed #333;
}