div(ng-include="'partials/navbar'")
.container-fluid.task
  .row.content-header
    .col-md-12.col-md-offset-1.col-sm-12
      h4 {{ task.project.ref }} / TODO: taskRef
      h1.page-header {{ task.title }}
  .row.content-body
    .col-md-8.col-md-offset-1.col-sm-12.content-main
      .row
        .col-md-12.col-sm-12
          .panel.panel-default
            .panel-body
              .col-md-4.col-sm-12.rg-vertical-separator
                p Assigne To:
                p Created by {{ task.creatorId }}
              .col-md-4.col-sm-12.rg-vertical-separator
                p Status: {{ task.status }}
                p Priority: {{ task.priority }}
              .col-md-4.col-sm-12
                p Category: 
      .row
        .col-md-12.col-sm-12
          .panel.panel-default
            .panel-body
              ul
                li
                  a Media List (attachements)
      .row
        .col-md-12.col-sm-12
          .panel.panel-default
            .panel-body
              ul
                li
                  a Sub task and task refers to
      .row
        .col-md-12.col-sm-12
          .panel.panel-default
            .panel-body
              p {{ task.description }}
      .row
        .col-md-12.col-sm-12
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(ng-click='changeHash("all")') All
            li(role='presentation')
              a(ng-click='changeHash("comment")') Comments
            li(role='presentation')
              a(ng-click='changeHash("activity")') Activity
          .panel.panel-default.activity
            .panel-body
              .tab-content
                .tab-pane.active#all(role='tabpanel')
                  p All todo
                .tab-pane#comment(role='tabpanel')
                  p comments todo
                .tab-pane#activity(role='tabpanel')
                  p activity todo
    .col-md-2.col-sm-12.content-sidebar
      p TODO: estimate time etc.

