.archive
  #projectList(ng-include="'partials/project/projectList'" ng-class='{"col-sm-8": !showTaskboard, "col-sm-4": showTaskboard}')
  .col-sm-8#taskboard(ng-show='{{showTaskboard}}' ng-include="'partials/task/taskBoard'")
