.panel.panel-primary(ng-controller='ProjectFormCtrl')
  .panel-heading
    h3.panel-title Project Form
  .panel-body
    .col-sm-12
      .alert.alert-dismissable(ng-if='formHasMessage' ng-class='formMessageType')
        button.close(type='button' data-dismiss='alert') ×
        p {{ formMessage }}
      form.form-horizontal#projectForm(role='form' name='projectForm' novalidate='novalidate' ng-submit='submitForm()')
        .form-group
          label(for='title') Title
          input.form-control#title(type='text' name='title' ng-model='formData.title' placeholder='Title')
        .form-group
          label(for='description') Description
          input.form-control#description(type='textarea' name='description' ng-model='formData.description' placeholder='Description')
        .form-group
          label(for='ref') Reference
          input.form-control#ref(type='text' name='ref' ng-model='formData.ref' placeholder='Reference')
        .row
          .col-md-6 Admin list
            .list-group
              .list-group-item
                .project-form-input
                  input.form-control#adminInput(type='text' name='admim' ng-model='addAdminData')
                  a.add-button.right
                    span.glyphicon.glyphicon-plus-sign.green(type='button')
              .list-group-item(ng-repeat='admin in project.admins') {{ admin.username }}
                a(href='' ng-click='removeAdmin(admin._id)')
                  span.glyphicon.glyphicon-minus-sign.red.right(aria-hidden='true')
          .col-md-6 User list
            .list-group
              .list-group-item(ng-repeat='user in project.users') {{ user.username }}
                a(href='' ng-click='removeUser(user._id)')
                  span.glyphicon.glyphicon-minus-sign.red.right(aria-hidden='true')
        .row
          .col-md-6 Priority list
            .list-group
              .list-group-item
                .project-form-input(ng-class='{"has-error": priorityHasError}' )
                  input.form-control#priorityInput(type='text' name='priority' ng-model='addPriorityData')
                  a.add-button.right(href='' ng-click='addToList(addPriorityData, "priority")')
                    span.glyphicon.glyphicon-plus-sign.green(type='button')
              .list-group-item(ng-repeat='priority in project.priorityData') {{ priority.label }}
                a(href='' ng-click='removePriority(priority._id)')
                  span.glyphicon.glyphicon-minus-sign.red.right(aria-hidden='true')
          .col-md-6 Status list
            .list-group
              .list-group-item
                .project-form-input
                  input.form-control#statusInput(type='text' name='status' ng-model='addStatusData')
                  a.add-button.right(href='' ng-click='addToList(addStatusData, "status")')
                    span.glyphicon.glyphicon-plus-sign.green(type='button')
              .list-group-item(ng-repeat='status in project.statusData') {{ status.label }}
                a(href='' ng-click='removeStatus(status._id)')
                  span.glyphicon.glyphicon-minus-sign.red.right(aria-hidden='true')
        .form-group
          button.btn.btn-default(type='submit') Submit