.panel.panel-default
  .panel-heading.clearfix
    h4.panel-title.pull-left Archive
    .dropdown.pull-right
      a.dropdown-toggle.glyphicon.glyphicon-chevron-down(href='' data-toggle='dropdown')
      ul.dropdown-menu(role='menu')
        li
          a(href='/project/create') Create new project
        li.divider
        li
          a Other filters
  .panel-body
    .table-responsive(ng-hide='{{showTaskboard}}')
      table.table
        tbody
          tr(ng-repeat='project in projects')
            td
              .col-sm-8
                a(href='' resize-project ng-click='showTaskboardFunc(project.shortId)')
                  strong {{ project.ref }} - {{ project.title }}
                p {{ project.description }}
              .col-sm-3
                strong Last update
                p {{project.date.updated | date:'yyyy-MM-dd HH:mm'}}
              .col-sm-1
                a(href='/project/{{project.shortId}}/edit')
                  span.glyphicon.glyphicon-pencil

