.container-fluid.project
  .row
    .col-sm-2.col-md-2.sidebar
      ul.nav.nav-sidebar
        li.active
          a(href='' ng-click="changeHash('')") overview
        li
          a(href='' ng-click="changeHash('members')") members
        li
          a(href='' ng-click="changeHash('statistic')") statistic
        li
          a(href='' ng-click="changeHash('settings')") settings

    .col-sm-10.col-sm-offset-2.col-md-10.col-md-offset-2.main(ng-include="'partials/project/projectOverview'" ng-show="currentHash === ''")
    .col-sm-10.col-sm-offset-2.col-md-10.col-md-offset-2.main(ng-include="'partials/project/projectMembers'" ng-show="currentHash === 'members'")
    .col-sm-10.col-sm-offset-2.col-md-10.col-md-offset-2.main(ng-include="'partials/project/projectStatistic'" ng-show="currentHash === 'statistic'")
    .col-sm-10.col-sm-offset-2.col-md-10.col-md-offset-2.main(ng-include="'partials/project/projectSettings'" ng-show="currentHash === 'settings'")
          //a.btn.btn-lg.btn-primary(href='/project/{{project._id}}/taskboard') TaskBoard