div(ng-include="'partials/navbar'")
.container.personal
  .col-sm-3.sidebar
    h2 {{ user.username }}
    a.thumbnail(href='#')
      img(holder-js='holder.js/100%x300' alt='...')
    hr
    span.glyphicon.glyphicon-envelope
    | 
    strong {{ user.email }}
  .col-sm-9.main
    h1.page-header Your projects
      button.btn.btn-primary.btn-new-project(type='button' ng-click='createProject()')
        span.glyphicon.glyphicon-plus
        span New Project
    .panel.panel-default
      .panel-heading
      .panel-body
        .table-responsive
          table.table
            tbody
              tr(ng-repeat='project in projects')
                td
                  .col-sm-8
                    a(href='/project/{{project.shortId}}')
                      strong {{ project.ref }} - {{ project.title }}
                    p {{ project.description }}
                  .col-sm-3
                    strong Last update
                    p {{project.date.updated | date:'yyyy-MM-dd HH:mm'}}
                  .col-sm-1
                    a(href='/project/{{project.shortId}}/edit')
                    span.glyphicon.glyphicon-pencil
