.panel.panel-default
  .panel-heading.clearfix
    h4.panel-title.pull-left Taskboard
    .dropdown.pull-right
      a.dropdown-toggle.glyphicon.glyphicon-chevron-down(href='' data-toggle='dropdown')
      ul.dropdown-menu(role='menu')
        li
          a(href='/project/{{project.shortId}}/task/create') Create new project
        li.divider
        li
          a Other filters
  .panel-body
    .row.taskboard-row(ng-repeat='priority in priorityData' ng-if='typeof(tasks[priority]) !== "undefined"')
      .col-md-4.taskboard-col(ng-repeat='status in statusData')
        .list-group(ng-if='typeof(tasks[priority][status]) !== "undefined"')
          a.list-group-item(href='' ng-repeat='task in tasks[priority][status]') {{ task.title }}