script(type="text/ng-template" id="taskModal")
  .modal-header
    .bootstrap-dialog-header
      .bootstrap-dialog-close-button
        button.close(ng-click='close()') ×
      h4
        edit-in-place(type='default' value='task.title')
  .modal-body
    .row
      .col-md-12(ng-include="'partials/task/taskError'")
    .row.task-row.task-detail
      .col-md-6.task-cell.task-date
        ul
          li Updated at : {{ task.date.updated | date:'yyyy-MM-dd HH:mm' }}
          li Created at : {{ task.date.created | date:'yyyy-MM-dd HH:mm' }}
          li.form-inline Due date:
            span.input-group
              input.form-control(type='text' datepicker-popup='yyyy-MM-dd HH:mm' ng-model='task.date.due' is-open='opened' close-text='Close' ng-blur='taskEdited = true')
              span.input-group-btn
                button.btn.btn-default(type="button" ng-click='openDatepicker($event)')
                  i.glyphicon.glyphicon-calendar
      .col-md-6.task-cell.task-date
        ul
          li status :
            edit-in-place(type='status' value='task.statusLabel' fielddata='statusList')
          li priority: 
            edit-in-place(type='priority' value='task.priorityLabel' fielddata='priorityList')
      .col-md-6.task-cell.task-date(ng-show='task.assignTo')
        ul
          li assignTo : {{ task.assignTo }}
      .col-md-6.task-cell.task-date
        ul
          li Estimation: {{ task.time.estimation }}
          li Consomation: {{ task.time.consomation }}
    .row.task-row.task-description
      .col-md-12
        h4 Description:
        edit-in-place(type='description' value='task.description')
    .row.task-row.task-link(ng-show='task.link')
      .col-md-12
        ul
          li(ng-repeat='link in task.link') {{ link.type }} - {{ link.content }}
    .row.task-row.task-activity
      .col-md-12
        h4 Activities
          a.btn.btn-primary.btn-xs(href='' ng-click='toggleCommentFormFunc()') Add comment
        #taskCommentForm(ng-show='showCommentForm')
          form.form-horizontal#taskCommentForm(role='form' name='taskCommentForm' novalidate='novalidate' ng-submit='submitCommentForm()')
            .form-group
              label(for='Comment') Comment
              input.form-control#description(type='textarea' name='comment' ng-model='commentFormData.comment' placeholder='Comment')
            button.btn.btn-default(type='submit') Submit
        tabset
          tab(heading='Comments')
            blockquote(ng-repeat='comment in task.comments')
              p {{ comment.content.comment }}
                small {{ comment.user.username }} - at {{ comment.at | date:'yyyy-MM-dd HH:mm' }}
          tab(heading='All')
            li(ng-repeat='activity in task.activity')
              p {{ activity.type }}
              small {{ activity.user.username }} - at {{ activity.at | date:'yyyy-MM-dd HH:mm' }}
  .modal-footer
    button.btn.btn-primary(href='' ng-click='saveChanges()' ng-if='taskEdited') Save Changes
    button.btn.btn-primary(href='' ng-click='resetChanges()' ng-if='taskEdited') Reset Changes
    button.btn.btn-default(href='' ng-click='close()') Close