.panel.panel-default
  .panel-heading.clearfix
    h4.panel-title.pull-left Taskboard
    .dropdown.pull-right
      a.dropdown-toggle.glyphicon.glyphicon-chevron-down(href='' data-toggle='dropdown')
      ul.dropdown-menu(role='menu')
        li
          a(href='/project/{{project.shortId}}/task/create') Create new project
        li.divider
        li
          a Other filters
  .panel-body
    .row.taskboard-row(ng-repeat='priority in priorityList' ng-if='typeof(tasks[priority.label]) !== "undefined"')
      .col-md-4.taskboard-col(ng-repeat='status in statusList')
        .list-group(ng-model='tasks[priority.label][status.label]' data-drop='true' jqyoui-droppable='{onDrop:"dropCallback(priority.label, status.label)",stack: true}')
          a.list-group-item placeholder
          a.list-group-item.task-item(href='' ng-repeat='task in tasks[priority.label][status.label] track by $index' ng-click='addHash("taskId=" + task.shortId, $event)' ng-model='tasks[priority.label][status.label]' data-drag='true' data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}}, onStart:'dragStartCallback(task)'}") {{ task.title }}

div(ng-include="'partials/task/taskModal'")