script(type="text/ng-template" id="taskModal")
  .modal-header
    h4
      edit-in-place(type='default' value='task.title')
  .modal-body
    .row.task-row.task-detail
      .col-md-6.task-cell.task-date
        ul
          li Updated at : {{ task.date.updated | date:'yyyy-MM-dd HH:mm' }}
          li Created at : {{ task.date.created | date:'yyyy-MM-dd HH:mm' }}
          li(ng-show='task.date.due') Due date: {{ task.date.due }}
      .col-md-6.task-cell.task-date
        ul
          li status :
            edit-in-place(type='status' value='task.status')
          li priority: 
            edit-in-place(type='priority' value='task.priority')
      .col-md-6.task-cell.task-date(ng-show='task.assignTo')
        ul
          li assignTo : {{ task.assignTo }}
      .col-md-6.task-cell.task-date
        ul
          li Estimation: {{ task.time.estimation }}
          li Consomation: {{ task.time.consomation }}
    .row.task-row.task-description
      .col-md-12
        h4 Description:
        edit-in-place(type='description' value='task.description')
    .row.task-row.task-link(ng-show='task.link')
      .col-md-12
        ul
          li(ng-repeat='link in task.link') {{ link.type }} - {{ link.content }}
    .row.task-row.task-activity
      .col-md-12
        h4 Activities
          a.btn.btn-primary.btn-xs(href='') Add comment
        tabset
          tab(heading='All')
            p all
          tab(heading='Comments')
            p Comments
  .modal-footer
    button.btn.btn-default(data-dismiss='modal') Close
    button.btn.btn-primary Save Changes
//- .container-fluid.task
//-   .row.content-header
//-     .col-md-12.col-md-offset-1.col-sm-12
//-       h4 {{ task.project.ref }} / TODO: taskRef
//-       h1.page-header {{ task.title }}
//-   .row.content-body
//-     .col-md-8.col-md-offset-1.col-sm-12.content-main
//-       .row
//-         .col-md-12.col-sm-12
//-           .panel.panel-default
//-             .panel-body
//-               .col-md-4.col-sm-12.rg-vertical-separator
//-                 p Assigne To:
//-                 p Created by {{ task.creatorId }}
//-               .col-md-4.col-sm-12.rg-vertical-separator
//-                 p Status: {{ task.status }}
//-                 p Priority: {{ task.priority }}
//-               .col-md-4.col-sm-12
//-                 p Category: 
//-       .row
//-         .col-md-12.col-sm-12
//-           .panel.panel-default
//-             .panel-body
//-               ul
//-                 li
//-                   a Media List (attachements)
//-       .row
//-         .col-md-12.col-sm-12
//-           .panel.panel-default
//-             .panel-body
//-               ul
//-                 li
//-                   a Sub task and task refers to
//-       .row
//-         .col-md-12.col-sm-12
//-           .panel.panel-default
//-             .panel-body
//-               p {{ task.description }}
//-       .row
//-         .col-md-12.col-sm-12
//-           ul.nav.nav-tabs(role='tablist')
//-             li.active(role='presentation')
//-               a(ng-click='changeHash("all")') All
//-             li(role='presentation')
//-               a(ng-click='changeHash("comment")') Comments
//-             li(role='presentation')
//-               a(ng-click='changeHash("activity")') Activity
//-           .panel.panel-default.activity
//-             .panel-body
//-               .tab-content
//-                 .tab-pane.active#all(role='tabpanel')
//-                   p All todo
//-                 .tab-pane#comment(role='tabpanel')
//-                   p comments todo
//-                 .tab-pane#activity(role='tabpanel')
//-                   p activity todo
//-     .col-md-2.col-sm-12.content-sidebar
//-       p TODO: estimate time etc.

